body {
  margin: 0;
  padding: 0;
  font-family: 'Rutledge', sans-serif !important;
  font-size: 1rem;
}

.ui.button.std-bg {
  background: #2185d0 none !important;
}

.ui.button.std-color {
  color: rgb(255, 255, 255) !important;
}

.ui.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ui.card,
.ui.cards > .card {
  box-shadow: 0 2px 4px 0 #d4d4d5, 0 0 0 1px #d4d4d5 !important;
}

.user > .menu {
  top: 48px;
}

.ui.search.selection.dropdown > input.search {
  color: black;
}

.not-supported {
  width: 90% !important;
  height: 90% !important;
  padding: 16px !important;
  margin: auto;
}

@media only screen and (min-width: 720px) {
  .not-supported {
    width: 75% !important;
    height: 75% !important;
    padding: 16px !important;
    margin: auto;
  }
}

@media only screen and (min-width: 992px) {
  .not-supported {
    width: 700px !important;
    height: 350px !important;
    padding: 24px !important;
    margin: auto;
  }
}

.not-supported-img {
  width: 100px;
  height: 100px;
}

.app-message {
  /* top: 10px; */
  margin: 0 !important;
  width: 50% !important;
  position: fixed !important;
  z-index: 9999;
  left: 50%;
  transform: translateX(-50%);
}

.ui.message.app-message > .close.icon {
  top: 1.58em !important;
}
