.AppSidebar {
  border-radius: 0;
  border: 0px solid transparent !important;
  margin-top: 0 !important;
}

.ui.inverted.menu {
  background: #25374c !important;
}

.sidebar.menu {
  background: #25374c !important;
  height: calc(100vh - 70px);
}

.AppSidebar .pusher {
  height: calc(100vh - 70px);
  overflow-y: auto;
}

.AppSidebar .container {
  padding: 15px 0;
  margin: 0 30px;
  /* width: calc(100vw - 210px); */
  /* 150px sidebar - 60px margin */
  min-height: 100%;
}
